.head{
  margin-top: 0%;
  width: auto;
  height: auto;
  background-color: black;
}
.div2{
  margin: 2%;
  position: relative;
  opacity: 0.8;
}
.div2:hover{
opacity: 1;
}
.div2 img{
  width: 200px;
  height: 300px;
  border-radius: 8px;
}
img .responsive{
  width: 100%;
  height: auto;
}

.div1{
  width: 80%;
  height: auto;
  margin: 50px;
  display: block;
  margin-top: :5%;
  margin-left: 15%;
}
 .button1{
  border-color: blue!important;
  color: blue!important;
   background-image:url('motion.gif')!important;
  width: 95px;
  height: 45px;
}
 .button1:hover{
  text-decoration: none;
  border-color: black!important;
  color: black!important;
  background-color: green!important;
}
.button2{
  border-color: blue!important;
  color: blue!important;
   background-image:url('motion.gif')!important;
  width: 95px;
  height: 45px;
}
.button2:hover{
  text-decoration: none;
  background-color:red!important;
  border-color: black!important;
  color: black!important;
}
